.width-responsive {
  width: 100%;
}

.font-light-responsive {
  font-size: 0.6rem;
}

@media screen and (min-width: 625px) {
  .width-responsive {
    max-width: 675px;
    font-size: 1.4rem;
  }

  .font-light-responsive {
    font-size: 0.84rem;
  }
}
