* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  color: white;
}

h3 {
  margin: 0;
  font-weight: 400;
}

h4 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}
