.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.with-navbar {
  min-height: calc(100vh - 55px);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.form-container {
  background: rgb(12, 0, 83);
  border-radius: 10px;
  width: 345px;
  padding: 20px 50px;
}

.margin-auto {
  margin: auto;
}

.landing-logo {
  height: 345px;
  margin-bottom: 2rem;
}

.form-title {
  text-align: center;
  margin-bottom: 0.7rem;
}

.center-content {
  display: flex;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

.space-between {
  justify-content: space-between;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.width-25 {
  min-width: 25px;
}

.max-width-title {
  max-width: 625px;
}

.text-box {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  color: rgb(12, 0, 83);
}

.margin-bottom-7rm {
  margin-bottom: 0.7rem;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.width-70-precent {
  width: 70%;
}

.text-box:focus {
  outline-color: #9320e0;
}

.form-btn {
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 3px 5px;
  width: 105px;
}

.login-btn {
  border: 0;
  border-radius: 30px;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
}

.full-width {
  width: 100%;
}

.purple-fill {
  background: #9320e0;
}

.blue-fill {
  background: #3198fc;
}

.red-fill {
  background: #ed105b;
}

.blue {
  color: #3198fc;
}

.purple {
  color: #9320e0;
}

.red {
  color: #ed105b;
}

.click {
  cursor: pointer;
}

.click:active {
  transform: translateY(2px);
}

.click-up {
  cursor: pointer;
}

.click-up:active {
  transform: translateY(-2px);
}

.nav-bar {
  background: rgb(12, 0, 83);
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.small-logo {
  max-width: 200px;
  height: 30px;
}

.user-circle {
  height: 35px;
  width: 35px;
  border: 3px solid #ed105b;
  border-radius: 100%;
  align-items: center;
  margin-left: 10px;
}

.weight-800 {
  font-weight: 800;
}

.height-25 {
  height: 25px;
}

.height-17 {
  height: 17px;
}

.height-70 {
  height: 70px;
}

.height-XX-percent {
  height: calc(100% - 70px);
  min-height: 140px;
}

.padding-10 {
  padding: 10px;
}

.padding-15n10 {
  padding: 15px 10px;
}

.padding-top-5 {
  padding-top: 5px;
}

.invisible-btn {
  width: auto;
  height: auto;
  border: none;
  background: transparent;
}

.register-btn {
  color: white;
  border: none;
  border-radius: 50px;
  background: rgb(49, 152, 252);
  background: linear-gradient(90deg, rgba(49, 152, 252, 1) 0%, rgba(147, 32, 224, 1) 50%, rgba(237, 16, 91, 1) 100%);
  font-size: 1rem;
  height: 36px;
  width: 200px;
}

.padding-vert-10n25 {
  padding-top: 10px;
  padding-bottom: 25px;
}

.font-light {
  font-weight: 200;
}

.width-76-percent {
  max-width: 76%;
}

.width-55-percent {
  max-width: 55%;
}

.max-height-31 {
  max-height: 31px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.absolute {
  position: absolute;
  background: #0c0053;
  padding: 10px 20px;
  padding-top: 0;
  width: 170px;
  right: 0;
  top: 54px;
  text-align: right;
  border-radius: 0 0 0 20px;
  font-weight: 600;
}

.absolute-login {
  position: absolute;
  top: 0;
  right: 0;
}

.drawer-close {
  display: none;
}

.nav-btn:hover {
  color: #3198fc;
}

.border-white {
  border: solid white 1px;
}

.generate-btn {
  border: none;
  color: white;
  font-size: 1.25rem;
  width: 345px;
}

.generate-btn:hover {
  border: solid #0c0053 2px;
  border-radius: 4px;
}

.height-100-percent {
  height: 100%;
}

.strike {
  text-decoration: line-through;
}

.full-height-nim-nav {
  height: calc(100vh - 55px);
}

.fixed {
  position: fixed;
  bottom: 0;
}

.height-500 {
  max-height: 500px;
}

.text-right {
  text-align: right;
}

.font-small {
  font-size: 0.8rem;
}

.large-logo {
  min-height: 460px;
}
