.page {
  min-height: 100vh;
  background: rgb(12, 0, 83);
  background: linear-gradient(180deg, rgba(12, 0, 83, 1) 10%, rgba(147, 32, 224, 1) 100%);
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.form-container {
  background: rgb(12, 0, 83);
  border-radius: 10px;
  width: 345px;
  padding: 20px 50px;
}

.form-title {
  margin: 0;
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: 400;
}

.margin-auto {
  margin: auto;
}

.center-content {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.text-box {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 0.7rem;
  color: rgb(12, 0, 83);
}

.text-box:focus {
  outline-color: #9320e0;
}

.form-btn {
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 3px 5px;
  width: 105px;
}

.purple-fill {
  background: #9320e0;
}

.blue-fill {
  background: #3198fc;
}

.red-fill {
  background: #ed105b;
}

.blue {
  color: #3198fc;
}

.purple {
  color: #9320e0;
}

.red {
  color: #ed105b;
}

.click {
  cursor: pointer;
}

.click:active {
  transform: translateY(2px);
}

.nav-bar {
  background: rgb(12, 0, 83);
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.small-logo {
  max-width: 200px;
  height: 35px;
}

.user-circle {
  height: 35px;
  width: 35px;
  border: 3px solid #ed105b;
  border-radius: 100%;
  align-items: center;
  margin-left: 20px;
}

.weight-800 {
  font-weight: 800;
}

.absolute {
  position: absolute;
  background: #0c0053;
  padding: 10px 20px;
  padding-top: 0;
  width: 170px;
  right: 0;
  top: 54px;
  text-align: right;
  border-radius: 0 0 0 20px;
  font-weight: 600;
}

.drawer-close {
  display: none;
}

.drawer-close,
.drawer-open {
  /* animation to be added here, for app drawer
  transition: transform 350ms ease-out; */
}
